<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <directoryBrowse enabled="true" />

    <rewrite>
      <rules>
        <clear />

        <!-- Rules for SNCF data -->
        <rule name="api rule" enabled="true" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{CACHE_URL}" pattern="(/gare/.*)" />
          </conditions>
          <action type="Rewrite" url="http://api.transilien.com{C:1}" logRewrittenUrl="false" />
        </rule>
        <rule name="WIMT fontawesome rule" enabled="true" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{CACHE_URL}" pattern="/(wimt/fontawesome/.*)" />
          </conditions>
          <action type="Rewrite" url="http://localhost:83/{C:1}" logRewrittenUrl="true" />
        </rule>
        <rule name="No path rule" enabled="true" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{CACHE_URL}" pattern="//.*?/(.*)" />
          </conditions>
          <action type="Rewrite" url="http://localhost:83/{C:1}" logRewrittenUrl="true" />
        </rule>
      </rules>
      <outboundRules>
        <!--<rule name="Authentication test">
          <match serverVariable="RESPONSE_WWW-Authenticate" pattern="Basic" negate="false" />
          <action type="Rewrite" value="JWC-Basic" replace="true" />
        </rule>-->
      </outboundRules>
    </rewrite>
    <tracing>
      <traceFailedRequests>
        <add path="*">
          <traceAreas>
            <add provider="ASP" verbosity="Verbose" />
            <add provider="ISAPI Extension" verbosity="Verbose" />
            <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,WebSocket" verbosity="Verbose" />
          </traceAreas>
          <failureDefinitions statusCodes="100-999" />
        </add>
      </traceFailedRequests>
    </tracing>
  </system.webServer>
</configuration>
