
.trip-frame {
  height: 100%;
  width: 100%;

  background-color:  white;
}

.trip-frame-top-space, .trip-frame-bottom-space {
  height: 20px;
}

.trip-frame-center {
  position: relative;
  padding: 15px 0;
}

.trip-container {
  position: relative;
  /*background-color: beige;*/
  transition: height 1s ease-out;
}

.trip-timeline {
  position: absolute;
  left: 40px;
  top: 0px;
  bottom: 0px;
  width: 0px;
  border-left: 1px solid rgba(136, 136, 136, 1);
}

.trip-train-frame {
  position: absolute;
}

.trip-train-position {
  position: absolute;
  bottom: -3px;

  left: 38px;
  width: 5px;
  height: 5px;
  background-color: red;
}

.trip-train-frame {
  height: 0px;
}

.trip-train-position-initial-animation {
  transition-timing-function: ease-out;
}

.trip-train-position-progression-animation {
  transition-timing-function: linear;
}