
.line-frame {
    height: 100%;
    width: 100%;

    background-color: white;
}

.line-header {
    white-space: nowrap;
    line-height: 50px;
    text-align: center;

    font-weight: bold;
}

.line-header-separator {
    margin: 0 10px;
}