
.trip-header-row {
  position: relative;
  display: table;
  width: 100%;
  height: 50px;

  border-top: 1px solid black;
  border-bottom: 5px solid black;
  white-space: nowrap;
}

.trip-header-row > * {
  display: table-cell;
}

.trip-header-row-text {
  font-weight: bold;
  margin-left: 10px;
  line-height: 50px;
}

.trip-header-row-state {
  font-weight: bold;
  margin-left: 10px;
  line-height: 50px;
  text-align: right;
}

.trip-header-row-arrow {
  position: absolute;

  bottom: -15px;
  width: 11pc;
  height: 10px;
  left: 10px;
  background-image: url('../../assets/down-arrow.png');
  background-position:0 0;
  background-repeat: no-repeat;
}

.trip-real-time {
  border-bottom-color: #008000;
}

.trip-real-time-checking {
  border-bottom-color: #aaaaaa;
}
