body {
  font-family: 'Segoe UI', sans-serif;
}

.root-container {
  background-color: rgba(237, 237, 241, 1);
}

.main-frame {
}

.trips-container {
}

.stop-time-row {
  height: 50px;
}

.day-header-row {
  height: 50px;
  line-height: 50px;
  text-align: center;

  background-color: black;
  color: white;
  font-weight: bold;
}